
body{
    height: 100%;
    width: 100%;
    background-image: url('https://cf.bstatic.com/images/hotel/max1024x768/193/193236146.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* .image1{
    height: 600px;
    background-image: url('https://cf.bstatic.com/images/hotel/max1024x768/193/193236146.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.num a{
    color: white;
    text-decoration: none;
  }
  .catetogy-pc .num{
    border: 1px solid white;
    color: white;
    padding: 5px;
    width: 20%;
    font-size: 20px;
    background-color: rgb(245, 241, 241, 0.5);
   
}
.catetogy-mobile .num a{
  color: black;
}
.num a:hover{
  text-decoration: none;
    background-color: gray;
    
    color: rgb(84, 219, 236);
}
.catetogy-pc .num1{
    border: 1px solid white;
    color:white;
    padding: 5px;
    border-radius: 8px 0px 0px 8px;
    width: 20%;
    font-size: 20px;
    background-color: rgb(245, 241, 241, 0.5);
  
}
.num1 a{
  color: white;
}
.num1 a:hover{
  text-decoration: none;
  background-color: gray;
    color: rgb(84, 219, 236);
}
.catetogy-pc .num2{
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 0px 8px 8px 0px;
width: 20%;
font-size: 20px;
background-color: rgb(245, 241, 241, 0.5);

}
button :hover{
    background-color: gray;
    color: rgb(84, 219, 236);
}
.container{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1187px;
    max-height: 100%;
    /* background-color: white; */
}
.your{
    width: 100%;
    display: block;
    font-size: 50px;
}
.welcome{
    width: 100%;
    font-size: 1rem;
    display: block;
    margin-top: 20px;
    text-align: left;
    /* padding: 20px; */
    background: rgba(250, 244, 250, 0.9);
    /* height: 500px; */
    
    /* opacity: 0.7; */
}
/* .welcome button{
    margin-bottom: 30px;
    margin-top: 60px;
} */

h2{
    margin: 0px;
    margin-top:0px;
}

.row1{
    margin-bottom: 10px;
    width: 100%;
}
.header img{
    
    background-color: rgb(29, 228, 161);
    /* border-radius: 60px; */
    width: 200px;
    height: 250px;
}
/* .welcome button{
    font-size: 2rem;
    background-color: gray;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
} */

.header{
    width: 100%;
    height: 10%;
    color: white;
    max-width: 987px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}
.title{
    padding-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.menu{
    float: left;
}
.reserve{
    float: right;
}
.bar{
    font-size:4rem;
    display: none;
}
.catetogy-pc{
    /* text-align: center; */
    width: 100%;
    
    margin-top: 10px;
    display: table;
}
.header{

    top: 0px;
    left: 0px;
    right: 0px;
    /* position: fixed; */
}
.mobile{
    position: fixed;
    background-color: white;
    max-width: 100%;
    width: 320px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    transform: translateX(-100%);
    transition: transform linear 0.5s;
}

.bar :hover{
    background-color: gray;
}
.close :hover{
    background-color: gray;
}
.close{
    font-size: 2rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.catetogy-mobile{
    
    margin-top: 24px;
    
}
.checked:checked~.out-play{
    display: block;
}
.checked:checked~.mobile{
    transform: translateX(0%);
}
.checked{
    display: none;
}
.out-play{
    display: none;
    position: fixed;
    transition: linear 2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.cen{
    font-size: 5rem;
}
.catetogy-mobile li{
    text-align: left;
    /* position: relative; */
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    padding: 16px 0;
    /* margin-top: 20px; */
    /* width: 100%; */
    /* margin-left: auto; */
    /*
    rÆ¡ 
    rowmargin-right: auto; */
}

label{
    margin-left: auto;
    margin-right: auto;
}
.footer{
    padding-bottom: 40px;
    border-bottom: 5px gray solid;
    padding-top: 30px;
    font-size: 20px;
    margin-top: 20px;
    /* padding: 20px; */
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    margin-bottom: 90px;
    background: rgb(255, 255, 255, 0.9);
}
.tiltlefoot{
    text-align: center;
    /* font-family: niconne; */
    width: 30%;
    display: inline-block;
}
.footimg{
    font-size: 40px;
    margin-top: 50px;
    width: 100%;
}

  .a{
    color: black;
    text-decoration: none;
  }
  
  .family{
      position: relative;
      padding: 20px;
      width: 100%;
  }
  .text1{
      padding: 20px;
      text-align: justify;
      /* width: 45%; */
      font-size: 20px;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
  }
  .textimg{
      position: relative;
      top: 10px;
      /* width: 45%; */
  }
  .text{
      text-align: left;
      margin-top: 0px;
      top: 0px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 40px;
      padding-bottom: 20px;
      font-size: 20px;
      padding-right: 20px;
  }

@media (max-width: 1023px){
    .bar{
        display: block;
    }
    .catetogy-pc{
        display: none;
    }
   .cen{
       font-size: 3rem;
   }
    .your{
        font-size: 20px;
    }
    .tiltlefoot{
        width: 100%;
    }
}

h1, h2, h4 {
    color: black;
    font-family: initial;
}

p{
    font-size: 130%;
}
.search {
    text-align: right;

}

.right {
   margin-top: 15px;
   margin-right: -10px;
}
.right form{
    text-align: right;
}

#Signin {
    margin-right: 1px;
    border:darkgreen solid 1px;
}
button {
    border: none;
    background-color: white;
    color: darkgreen;
}
button:hover{
    color: darksalmon;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.icon {
  /*  background-color: rgb(219, 211, 211);*/
}
h3{                  
    font-family: 'Brush Script MT', cursive;
}
p{
    font-family: initial;
    font-size: 120%;
}
.icon i {
    height: 300%;
}

/*Search form*/

input[type=text] {
width: 130px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url('searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
width: 60%;
}


.heart i{
  color: red;
}
/*css footer*/
.foot{
    text-align: center;
}
.btn-log{
  width: 97%;
  height: 40px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-radius: 3px;
  background-color: #5cb85c;
}
/*Media Social Login Form*/
* {
    box-sizing: border-box;
    
  }
  /* style the container */
.container2 {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px 0 30px 0;
  } 
  /* style inputs and link buttons */
  .col input,
  .btn {
    width: 97%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  .col input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* style the submit button */
  .col input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .col input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #5cb85c;
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }
 
 /*Modal*/
          /* The Modal (background) */
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;

  width: 50%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  }
  @media(max-width: 1024px){
    .modal-content {
      width: 80%;
    }
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
  }

  @keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

  .modal-header {
  padding: 27px 16px;
  background-color: #5cb85c;
  color: white;
  }

  .modal-body {padding: 2px 16px;}

  .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  }

  /*Comment*/
  .comment h4{
    color:#FF6666;
  }
/*Lightbox*/
  .row2 > .column {
    padding: 0 8px;
  }
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }

  .cursor {
    cursor: pointer;
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }  .icon2{
    display: none;
float: right;
border-radius: 20px;
width: 50px;
height: 50px;
margin-top: 10px;
    position: relative;
    right:-2px;
    
  }
  .icon9{
    border-radius: 20px;
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    height: 50px;
  }
  
  .icon3{
    display: none;
    float: right;
    width: 66px;
    font-size: large;
  
    position: relative;
    right:-58px;
    margin-top: 44px;
  }
  .icon4{
    float: right;
    width: 40px;
    font-size: large;
  
    position: relative;
    right:20px;
    margin-top: 15px;
  }
  .icon5{
    float: right;
    width: 67px;
    font-size: large;
  display: none;
    position: relative;
    right:-60px;
    margin-top: 61px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 630px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    .icon2{
      display: block;
    }
    .icon3{
      display: block;
    }
    .icon5{
      display: none;
    }
    .icon4{
      display: none;
    }
    .icon9{
      display: none;
    }
    .icon{
      position: relative;
      right: 20px;
      margin-top: -40px;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }

  @media screen and (max-width: 800px) {
    .icon5{
      right:-58px;
    margin-top: 61px;
    }
  }

  @media screen and (max-width: 768px) {
    .icon5{
      right:11px;
    margin-top: 7px;
    }
  }
  @media screen and (max-width: 541px) {
    .eye{
      
      top: -40px;
    }
  }